/*biggest screen change size*/
@media screen and (max-width: 800px) {
  .skills img {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }


}

@media screen and (max-width: 600px) {


  .skills {
    flex-direction: column;
  }

  .skills img {
    width: 35%;
    height: auto;
  }

  .hide {
    margin-left: 4%;
    margin-right: 4%;
    width: 92%;
  }

  .titleInfo {
      width: 80%;
  }
  #title h1 {
    font-size: 3.5em;
  }

}

/*biggest screen change size*/
@media screen and (max-width: 500px) {



  .modalimages {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    justify-content: center;
    padding-left: 25%;
    padding-right: 25%;
  }

  .modalimages img {
    margin-top: 10%;
  }
}

@media screen and (max-height: 625px) {
  .title .titleInfo {
    height: 80%;
  }


}
