#title {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#about {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

#break {
  width: 100vw;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.first {
  color: rgb(192,65, 245);
  background-color:#CADEFF;
}

.second {
  margin-top: 2vh;
  color: rgb(48,84, 236);
  background-color:rgba(65,231,207,.25);
}

.secondd {
  margin-top: 2vh;
  color: rgb(48,84, 236);
  background-color:rgba(65,231,207,.25);
  align-self: center;
}

.skills {
  margin-top: 2vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.skills div {
  transition: all .3s linear;
  opacity: 1;

}


.skills h2 {
  margin-top: 1vw;
  color: rgb(48,82,236);
}

.hide {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;
  margin-left: 3vw;
  margin-right: 3vw;
  opacity: 0;
  transition: all .3s linear;
}

.hide p {
  font-size: 1.5em;
}

#projects{
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;

}

.allprojects{
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  width: 70vw;
  flex-wrap: wrap;
}

.allprojects div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
  text-align: center;
  color: rgb(48,82,236);
}

input[type=radio] {
  display: none;
}
.buttonhelp {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.allButton {
  background-color: rgba(65,231,207,.25);
  color: rgb(48,82,236);
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confused{
  background-color: rgba(192,65, 245, .25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.confused2{
  background-color: rgba(192,65, 245, .25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100vw;
}


.confused2 p {
  color: rgb(134, 134, 134)
}

.confused p {
  color: rgb(134, 134, 134)
}

.bottomIcons {
  font-size: 3em;
  color: white;
  width: 12 vw;
}

.bottomIcons a {
  color: white;
}

.bottomIcons a:hover {
  color: white;
}

a.active {
  font-weight: bold;
}

.is-open {
  opacity: 1;
}

.out {
			animation: scale-display--reversed .3s;
			animation-fill-mode:forwards;
			display: none;
  }


@keyframes scale-display--reversed {
  0% {
    display: inline-flex;
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  99% {
    display: inline-flex;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    display: none;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}

footer {
  font-family: 'Montserrat', sans-serif;
}

.mobilweb {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2vh;
}

.mobilweb div {
  display: flex;
  justify-content: space-around;
}

.navbreak {
  height: 10vh;
  background-color:rgb(48,82,236);
}

.pproject {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hide div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
